---
import { SquareArrowOutUpRight, BookOpenText } from "@lucide/astro";
interface Project {
  slug: string;
  img: string;
  title: string;
  short_description: string;
  url: string;
}
interface Props {
  project: Project;
}
const { project } = Astro.props;
const projectsPath = "/images/projects/";
---

<article class="outline-4 outline-neutral-300 overflow-hidden">
  <img
    src={projectsPath + project.img + ".png"}
    alt={project.title}
    class="object-contain"
  />
  <div class="p-5 flex flex-col gap-5">
    <h2
      class="font-primary text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
    >
      {project.title}
    </h2>
    <p class="font-light text-base">
      {project.short_description}
    </p>
    <div class="flex flex-row flex-wrap gap-5 items-center">
      <a
        href={"/startup/" + project.slug}
        class="bg-neutral-200 px-2 py-1 rounded-2xl flex flex-row gap-2 items-center"
        ><BookOpenText size={14} /><span>Leer más</span></a
      >
      <a
        href={project.url}
        class="bg-neutral-200 px-2 py-1 rounded-2xl flex flex-row gap-2 items-center"
        ><SquareArrowOutUpRight size={14} /><span>web</span></a
      >
    </div>
  </div>
</article>

<style>
  a {
    height: fit-content;
    background: var(--color-neutral-200);
    &:hover {
      outline: 1px solid var(--color-neutral-500);
      background: var(--color-neutral-100);
    }
  }
</style>
