---

---

<footer class="fixed bottom-0 z-50 w-full backdrop-blur-md font-primary">
  <div class="container mx-auto max-w-6xl p-2 flex flex-col items-center">
    <a href="/" class="px-2 py-1 flex flex-row gap-2 items-center"
      ><span>2025 - Danibreadd.</span></a
    >
  </div>
</footer>
<style>
  a {
    height: fit-content;
  }
</style>
