---
import BaseLayout from "../../layouts/baseLayout.astro";
---

<BaseLayout>
  <div class="relative flex flex-col gap-10 mx-auto max-w-5xl font-primary">
    <h1 class="text-2xl leading-8 text-gray-800">Routine</h1>
    <div class="grid grid-cols-1 gap-5">
      <a href="https://youtu.be/pRzv9HF9P08" target="_blank" class="group">
        <div class="flex items-center gap-4">
          <img
            src="/images/captura1.jpg"
            alt="img"
            class="w-40 object-cover aspect-video flex-shrink-0"
          />
          <div>
            <p class="text-sm text-gray-500">Ep 0</p>
            <p class="group-hover:text-gray-950 text-gray-700">Construyendo</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
