---
import BaseLayout from "../../layouts/baseLayout.astro";
const momentos = [];
---

<BaseLayout>
  <div class="flex flex-col gap-10 font-secondary">
    <div class="flex flex-col gap-5">
      <h1
        class="font-primary text-5xl sm:text-6xl lg:text-7xl xl:text-8xl font-black"
      >
        Momentos
      </h1>
      <p class="font-secondary text-xl font-light leading-7">
        Un espacio para compartir instantes y recopilaciones del día a día.
      </p>
    </div>
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {
        momentos.length === 0 ? (
          <div class="col-span-full flex justify-center">
            <h3 class="font-extrabold text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">
              No hay momentos disponibles.
            </h3>
          </div>
        ) : (
          <div />
        )
      }
    </section>
  </div>
</BaseLayout>
