---
interface Props {
  developer: string;
}
const { developer } = Astro.props;
---

<div class="flex flex-col gap-5">
  <div class="flex flex-row gap-2 items-center">
    <h1 class="text-2xl text-gray-800 leading-8">
      {developer}
    </h1>
    <img src="/images/logo.avif" alt="logo" class="size-16" />
  </div>
</div>
