---

---

<section class="flex flex-col gap-2">
  <h3 class="text-xl font-bold">My socials</h3>
  <div class="flex flex-row flex-wrap gap-5 font-primary">
    <a href="https://www.threads.com/@danibreadd?hl=es" target="_blank"
      >Threads</a
    >
    <a href="https://www.linkedin.com/in/dani-pamblanco/" target="_blank"
      >Linkedin</a
    >
    <a href="https://github.com/danibreaddDev" target="_blank">Github</a>
    <a href="https://ko-fi.com/danibreadddev" target="_blank">Ko-fi</a>
  </div>
</section>
