---
import ProjectList from "./ProjectList.astro";

interface Props {
  projects: { title: string; url: string }[];
  currentProject?: { title: string; url: string };
  landings: { title: string; url: string }[];
}
const { projects, currentProject, landings } = Astro.props;
---

<div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
  <div class="flex flex-col gap-2">
    <h3 class="text-xl font-bold">Current working on</h3>
    <div class="flex flex-row flex-wrap items-center gap-2">
      <a href={currentProject?.url} target="_blank">{currentProject?.title}</a>
      <span class="flex flex-row items-center gap-2"
        >with <a href="https://llucx.is-a.dev/" target="_blank">@Lluc</a></span
      >
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-xl font-bold">Some past startups</h3>
    <ProjectList projects={projects} />
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="text-xl font-bold">Landing Pages</h3>
    <ProjectList projects={landings} />
  </div>
</div>
