---
import projects from "../../data/projects.json";
import BaseLayout from "../../layouts/baseLayout.astro";
export const prerender = true;
export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { startup: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<BaseLayout>
  <div>{project.title}</div>
</BaseLayout>
