---
import projects from "../../data/projects.json";
import BaseLayout from "../../layouts/baseLayout.astro";
import ProjectCard from "../../components/startup/ProjectCard.astro";
---

<BaseLayout>
  <div class="flex flex-col gap-10 font-secondary">
    <div class="flex flex-col gap-5">
      <h1
        class="font-primary text-5xl sm:text-6xl lg:text-7xl xl:text-8xl font-black"
      >
        Start up
      </h1>
      <p class="font-secondary text-xl font-light leading-7">
        Aplicaciones con las que aprendo día a día sobre programación web.
      </p>
    </div>

    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
      {projects.map((project) => <ProjectCard project={project} />)}
    </section>
  </div></BaseLayout
>
