---
import "../styles/global.css";
import CommonHead from "../components/shared/CommonHead.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
---

<html lang="es" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Daniel Pamblanco Mestre es un desarrollador web especializado en Frontend Explora mis proyectos y trabajos más recientes, aqui comparto tambien momentos y recomendaciones de mi dia a dia."
    />
    <meta
      name="keywords"
      content="Daniel Pamblanco Mestre, desarrollador web, portfolio, proyectos, FrontEnd, Gym, Motivación."
    />
    <meta property="og:url" content="https://www.danibreadd.com/" />
    <CommonHead />
    <title>danibreadd</title>
  </head>
  <body>
    <Header />
    <main class="container mx-auto max-w-6xl p-2 min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
